.button {
  background-color: var(--color-btn-btn_violet);
  color: var(--color-white);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-dark-violet);
}
