.mainPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gridContainerUp,
.gridContainerDown {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.offersContainer {
  flex: 1 1 50%;
  min-width: 300px;
}

.nextLessonContainer,
.homeworkReportsContainer {
  flex: 1 1 20%;
  min-width: 150px; 
}

.lessonInfoContainer {
  flex: 1 1 30%;
  min-width: 300px; 
}

.upcomingLessonsContainer {
  flex: 1 1 60%;
  min-width: 300px;
}

.offersContainer,
.nextLessonContainer,
.homeworkReportsContainer,
.lessonInfoContainer,
.upcomingLessonsContainer {
  border-radius: 30px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-dark-violet);
}
.offersContainer{
  position: relative;
}
.offer {
  display: flex;
  align-items: center;
  padding: 56px 28px;
  border-radius: 30px;
  background-color: var(--color-dark-violet);
}

.offerText{

}

.offerTile{
  max-width: 366px;
  text-align: left;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 12px;
  color: var(--color-white);
}

.offerDescription{
  max-width: 294px;
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  color: var(--color-white);
}

.offer img{
  position: absolute;
}

.nextLessonTime {
  font-size: 24px;
  text-align: center;
}

.nextLessonButton,
.lessonInfoButton,
.upcomingLessonsButton {
  background-color: var(--color-btn-btn_violet);
  color: var(--color-white);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.nextLessonButton:hover,
.lessonInfoButton:hover,
.upcomingLessonsButton:hover {
  background-color: var(--color-dark-violet);
}

.homework,
.reports {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.homework img,
.reports img {
  margin-right: 10px;
}

.upcomingLessonsContainer ul {
  list-style: none;
  padding: 0;
}

.upcomingLessonsContainer li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.lessonButton {
  background-color: var(--color-btn-btn);
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
}

.lessonButton:hover {
  background-color: var(--color-dark-violet);
}

.lessonDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lessonItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--color-gray);
}

.offerContainer {
  flex: 1 1 100%;
  min-width: 100px;
}
