.mainPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gridContainerUp,
.gridContainerDown {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.offersContainer {
  position: relative;
  flex: 1 1 50%;
  min-width: 300px;
  border: 0;
}

.offer {
  display: flex;
  align-items: center;
  padding: 56px 0px 56px 40px;
  border-radius: 30px;
  background-color: var(--color-dark-violet);
}

.offerTile {
  max-width: 366px;
  text-align: left;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 32px;
  color: var(--color-white);
}

.offerDescription {
  max-width: 294px;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  color: var(--color-white);
}

.offer img {
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 30px;
}

.nextLessonContainer {
  flex: 1 1 30%;
  min-width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  background-color: var(--color-yellow);
  padding: 32px 62px;
}

.nextLessonTitle {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: var(--color-dark);
}

.nextLessonTime {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.nextLessonTime p {
  font-size: 36px;
  margin-right: 12px;
  text-align: center;
  font-weight: 400;
  color: var(--color-dark);
}

.nextLessonTime span {
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  color: var(--color-dark);
}

.nextLessonButton {
  background-color: var(--color-btn-btn_violet);
  color: var(--color-white);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.nextLessonButton:hover {
  background-color: var(--color-dark-violet);
}

.homeworkReportsContainer {
  flex: 1 1 14%;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.homework,
.reports {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  font-size: 20px;
  font-weight: 400px;
  padding: 16px;
  cursor: pointer;
}

.homework {
  background: var(--color-blue);
  border-radius: 30px;
}

.reports {
  background: var(--color-violet-reports);
  border-radius: 30px;
}

.homework img,
.reports img {
  padding: 8px;
  border-radius: 12px;
  background: var(--color-white);
}

.lessonInfoContainer {
  flex: 1 1 30%;
  min-width: 300px;
  border-radius: 30px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-dark-violet);
  padding: 28px;
}

.lessonInfoTitle,
.upcomingLessonsTitle {
  font-size: 24px;
  text-align: left;
  font-weight: 400;
  color: var(--color-dark);
}

.lessonInfoContainer ul {
  margin-bottom: 34px;
  list-style: none;
}


.lessonInfoContainer ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-btn-secondary-btn);
}

.lessonInfoCount{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  background-color: var(--color-btn-btn);
}

.lessonInfoButton {
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  background-color: var(--color-btn-btn);
  color: var(--color-dark);
  border: none;

}

.lessonInfoButton:hover {
  background-color: var(--color-violet-reports);
}

.upcomingLessonsContainer {
  flex: 1 1 60%;
  min-width: 300px;
  padding: 28px;
  border-radius: 30px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-dark-violet);
}

.upcomingLessonsContainer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 38px;
}

.upcomingLessonsContainer ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-btn-secondary-btn);
}

.lessonButton {
  background-color: var(--color-btn-btn);
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
}

.lessonButton:hover {
  background-color: var(--color-dark-violet);
}

.lessonDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-right: 16px;
  color: var(--color-dark);
}

.lessonDetailsDate{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 42px;
  margin-right: 16px;
  font-size: 32px;
  font-weight: 400;
}

.lessonDetailsDate span{
  font-size: 12px;
}

.lessonDetailsTitle{
  font-size: 16px;
  font-weight: 400;
}

.lessonDetailsTime{
  margin-right: 15px;
  font-size: 12px;
  font-weight: 400;
}

.lessonDetailsTeacher{
  font-size: 16px;
  font-weight: 300;
}

.lessonDetailsButtons{
display: flex;
}
.lessonDetailsButtonLeft{
  padding: 8px 10px;
  margin-right: 4px;
  border-radius: 15px;
  font-size: 12px;
  color: var(--color-dark);
  background: var(--color-white);;
  border: 1px solid var(--color-btn-btn);
  cursor: pointer;
}

.lessonDetailsButtonRight{
  padding: 8px 10px;
  border-radius: 15px;
  font-size: 12px;
  color: var(--color-white);
  background: var(--color-btn-btn_violet);
  border: 0px;
  cursor: pointer;
}
.lessonDetailsButtonLeft:hover{
  background: var(--color-violet);
}
.lessonDetailsButtonRight:hover{
  background: var(--color-dark-violet);
}

.lessonItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--color-gray);
}

  .upcomingLessonsButton {
    width: 344px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    background-color: var(--color-btn-btn);
    color: var(--color-dark);
    border: none;
  
  }
  
  .upcomingLessonsButton:hover {
    background-color: var(--color-violet-reports);
  }
